{% extends 'base.html.twig' %}

{% block body %}
                <div class="container">
                    <h1>Welcome to Blog in Symfony!</h1>

                    {% for post in posts %}

                        <div>
                            <h2> <a href="{{ path('news_show', {'id': post.id}) }}">{{ post.title }}</a></h2>
                            <p>{{ post.lead }}</p>
                        </div>

                    {% endfor %}

                    <div class="pagination">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>
                {% endblock %}